@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wissen kutuphanesine hosgeldiniz</h1>
    <p>Learn about <a href="https://wissenakademie.com">Wissen Kutuphanesi</a>.</p>
</div>
