@model EF_Core_MVC_Code.Models.Turler
@{

    ViewData["Title"] = "Kitap Türleri";
}
<h1 class=" text-center display-3">Kitap Türü Sil</h1>
<hr>
<br>
<div class="container-fluid w-50">
    <div class="d-flex justify-content-center bg-danger">
        <div class="d-block  text-center ">
            <h4>Kitap Türü</h4>
            <hr>
            <h5>Tür ID: </h5>
            <p>@Model.Id</p>
            <hr>
            <h5>Kitap Türü:</h5>
            <p>@Model.TurAd</p>
            <hr>
            <form asp-action="Delete" class="m-3">
                <input type="hidden" asp-for="Id">
                <input type="submit" value="Kitap Türünü Sil"
                    class="btn btn-sm btn-outline-primary text-white rounded-3 border border-3  ">
                <a asp-action="Index" type="btn" class="btn btn-sm btn-info"><i
                        class="bi bi-arrow-counterclockwise"></i></a>
            </form>

        </div>

    </div>


</div>
