<form asp-action="ImageUpload" enctype="multipart/form-data">
    <h3 class="display-3">Resim Yükle</h3>
    <div class="form-group">
        <div class="form-group"></div>
        <label>Resim yolu</label>
        <input type="file" name="file" class="form-control" />
        <div class="form-group">
            <input type="submit" class="btn btn-outline-primary" />




        </div>
    </div>
</form>
