@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC Tablo Öreneği</h3>


<table class="table table-bordered bg-dark w-50">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Category Description</th>
        <th>Category Staus</th>
        <th>Guncelle</th>
    </tr>
    <tr>

        <td>1</td>
        <td>Spor</td>
        <td>Yapildi</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Eğitim</td>
        <td>Eğitim Hoştur</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>Sanat</td>
        <td>Sanat Hoştur</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>

    </tr>
    <tr>
        <td>4</td>
        <td>Edebiyat</td>
        <td>Edebiyat Hoştur</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>

    </tr>

</table>
<a class="btn btn-warning">Kaydet</a>
<a class="btn btn-info">Detaylar</a>
<a class="btn btn-danger">Delete</a>

