@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
        <h1 class="display-4 ">Kitapsizlar Kütüphanesine Hosgeldiniz</h1>
        <img src="~/img/kutuphane.jpg" alt="Alternate Text" class="img-fluid" />



</div>
