@using EntityLayer.Concrete;
@model List<Food>

@{

    ViewData["Title"] = "Food List";
    Layout = "~/Views/Shared/UserLayout.cshtml";

}
<link href="~/web/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" /><a href="single.html">
    <img src="~/web/images/h.jpg" class="card-img-top img-fluid">
</a>

                                               <h1> Yemek Ekleme sayfasi</h1>


